.section {
  padding: 40px
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

::ng-deep .mat-radio-label-content {
  white-space: normal;
}

.share-link {
  margin-bottom: 15px;
}
